li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #1E293B;
    padding: 1rem 3rem;
}

.navbar ul {
    display: flex;
}

.navbar li {
    margin-right: 4rem;
}

.navbar a {
    color: white;
}